.input-field {
	height: 50px;
	border-left: none;
	border-right: none;
	border-top: none;
	outline: none;
	border-color: #22e8e4;
	border-bottom-width: 5px;
	display: inline-block;
	width: 500px;
}

.input-field: focus {
	border-bottom-width: 10px;
}
